{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Welcome to our escape room~{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Congratulations, Eh!</h1>
        <p class="lead">Your tests quickly reveal the culprit: elevated levels of domoic acid, a neurotoxin produced by certain species of marine diatoms like Pseudo-nitzschia. The chemical structure of domoic acid allows it to bind to glutamate receptors in the brain, overstimulating neurons and causing symptoms like memory loss, confusion, and in severe cases, seizures.<br>As you compare your findings to case reports from the outbreak, everything clicks. The mussels had bioaccumulated the toxin from the water, turning a simple seafood dish into a dangerous meal. Armed with this evidence, you prepare to notify the authorities and the farm owners, ensuring the affected batch is recalled and public safety measures are put in place.</p>
        <p class="lead"><a target="_blank" rel="noopener noreferrer" href="https://utsw.box.com/s/e8gthak6vmssujh7ovpnow0982gqrmrm">Dr. Shuford Interview</a></p>
        <p class="lead">Total time taken is {{ timetaken }}.</p>
        <h2 class="display-4">Now... Bloopers!</h1>
        <ul>
          <li><a target="_blank" rel="noopener noreferrer" href="https://utsw.box.com/s/8w0en9v3ftgnutlz6bpnvh4zourqvh1u">Stop!!!</a></li>
          <li><a target="_blank" rel="noopener noreferrer" href="https://utsw.box.com/s/nw7w2pnk1smicai2bophu5g8yd7k0n9z">What are you doing there???</a></li>
          <li><a target="_blank" rel="noopener noreferrer" href="https://utsw.box.com/s/jz8tkejcwng4dmpd0xw2tqgo47lop51w">Wait a sec...</a></li>
        </ul>

    </div>
</div>
{% endblock %}
