{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Welcome to our virtual escaperoom~{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Congratulations!</h1>
        <p class="lead">Your tests quickly reveal the culprit: elevated levels of domoic acid, a neurotoxin produced by certain species of marine diatoms like Pseudo-nitzschia. The chemical structure of domoic acid allows it to bind to glutamate receptors in the brain, overstimulating neurons and causing symptoms like memory loss, confusion, and in severe cases, seizures.<br>As you compare your findings to case reports from the outbreak, everything clicks. The mussels had bioaccumulated the toxin from the water, turning a simple seafood dish into a dangerous meal. Armed with this evidence, you prepare to notify the authorities and the farm owners, ensuring the affected batch is recalled and public safety measures are put in place.</p>
        <p class="lead">Total time taken is {{ timetaken }}.</p>
    </div>
</div>
{% endblock %}
